.detail {
   display: flex;
   flex-flow: column wrap;
   align-items: center;
   padding: 10px;
   height: 100%;
}

.detail .mainImg {
    background-color: #f8f8f0;
    border: 1px transparent;
    border-radius: 7px;
    width: 850px;
    height: 550px;
}

.slide {
    width: 1200px;
    display: flex;
    height: 275px;
    justify-content: space-around;
}

.slide button {
    height: 50px;
    color: goldenrod;
    width: 2px;
    font-size: 50px;
    background: none;
    border: none;
    align-self: center;
}

.slide button:hover {
    cursor: pointer;
}

.imgshow {
    width: 850px;
    height: 220px;
    margin: 5px 0;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-margin: 0;
    scroll-padding: 0;
}

.imgshow img {
    display: inline-block;
    width: 300px;
    height: 200px;
    margin: 0 10px;
}

.price {
    font-size: 20px;
    font-weight: 600;
    padding: 5px;
}

.content {
    width: 800px;
    padding: 20px;
}

.options {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    height: 100%;
}

.options button{
    width: 30%;
    height: 33.4px;
    font-size: 12px;
    background-color: goldenrod;
    padding: 2px;
    border: 1px solid goldenrod;
    border-radius: 5px;
    box-shadow: 2px 1px 4px gray;
    font-weight: 500;
    margin: 5px 0;
    color: white;
}

.options button:hover{
    color: white;
    background-color: blue;
    cursor: pointer;
    border: 1px solid blue;
}

@media(max-width: 900px) {
    .detail .mainImg {
        width: 562.8px;
        height: 393.95px;
    }

    .slide {
        width: 700px;
    }

    .slide button {
        display: none;
    }

    .imgshow {
        width: 563px;
        height: 175px;
        overflow-x: scroll;
    }

    .imgshow img {
        width: 200px;
        height: 150px;
    }

    .content {
        width: 400px;
    }
}

@media(max-width: 550px) {
    .detail .mainImg {
        width: 330px;
        height: 300px;
    }

    .slide {
        width: 330px;
    }

    .slide button {
        display: none;
    }

    .imgshow {
        width: 330px;
        height: 120px;
    }

    .imgshow img {
        width: 105px;
        height: 100px;
    }

    .content {
       width: 247.5px;
    }
}