.myForm {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    border: 1px solid #b6b1b1;
    background-color: #ffffff;
    box-shadow: 4px 1px 7px gray;
    box-sizing: border-box;
    border-radius: 7px;
    width: 400px;
    height: auto;
    margin: 10px auto;
}

.myForm form { 
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 80%;
    align-items: center;
}

.myForm form .form-group {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    width: 100%;
    height: 10%;
    padding: 5px 0;
}

.myForm form .form-group input {
    width: 100%;
    height: 100%;
    border-radius: 7px;
    border-width: 1px;
    border-bottom: 2px solid aqua;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 5px;
}

.myForm form .form-group input:focus {
    outline-color: none;
}

.myForm form .form-group-opt {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: goldenrod;
    margin: 5px 0;
}

.myForm form .form-group-opt button {
    background-color: goldenrod;
    color: white;
    padding: 5px;
    border-radius: 5px;
    width: 25%;
    border: 1px solid goldenrod;
    margin: 10px 0;
    font-size: 12px;
    box-sizing: border-box;
    font-weight: 700;
}

.myForm form .form-group-opt button:hover {
    background-color: blue;
    cursor: pointer;
    border: 1px solid blue;
}

.myForm form .form-group-opt div:hover {
    color: blue;
    cursor: pointer;
}

.myForm form .form-group textarea {
    padding: 7px;
    box-sizing: border-box;
    border: 1px solid aqua;
    border-radius: 7px;
}

.errorsFail {
    display: flex;
    justify-content: center;
    color: red;
    background-color: #ec8383;
    border: 1px solid red;
    border-radius: 7px;
    width: 300px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 10px;
}

.errorsSuccess {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: green;
    background-color: #71d671;
    border: 1px solid green;
    border-radius: 7px;
    width: 300px;
    padding: 5px;
    margin-top: 10px;
}

.load {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid goldenrod;
    background-color: #d8ac3e;
    width: 300px;
    padding: 5px;
    margin-top: 10px;
    color: goldenrod;
    border-radius: 7px;
}

div.Smessage {
    background-color:#8edb8e;
    text-align: center;
    width: 50%;
    margin: auto;
    height: auto;
    border: 1px solid green;
    border-radius: 5px;
    color:green;
}

.error {
    color: red;
}

/* .myForm form .form-group select option:hover {
    background-color: goldenrod;
} */

@media(max-width: 550px) {
    .myForm {
        width: 300px;
    }
}